/******* Medium Small Device >= 568px ***********/
@media screen and (min-width:35.5rem) and (max-width:63rem) and (orientation:landscape){

    #intro{

        .cont_video{
            
            .cont_elementos{

                .cont_imagen{
                    width: 30% !important;
                }
            }        
        }
    }   

    #hero{

        .cont_video{
           
            .hero_vertical{
                display: none;
            }

            .hero_horizontal{
                display: flex !important;
            }
        }     
    } 

    #inicio{

        .cont_titulo{
            width: 60%;
        }

        .contenedor{
            width: 100%;
    
            .cont_video{
                width: 65% !important;
            }
    
            .cont_elementos{
                width: 50% !important;
                margin-top: -20% !important;  
                padding-left: 20% !important;          
            }
        }
    }

    #sesiones{

        .cont_video{
            height: 45vh !important;

            .cont_elementos{

                .cont_imagen{
                    width: 35% !important;
                }
            }        
        }

        .cont_video_seccion{
            width: 100%;
        }
    } 

    #info{

        .cont_elementos{

            .icono{
                font-size: 3rem;
            }
        }

        .vueperslides--fixed-height{
            height: 260px !important;
        }
    }

    #laura{

        .cont_superior{
            padding-top: 80px;
            padding-left: 80px !important;
            padding-right: 80px !important;
        }

        .cont_inferior{
            width: 80%;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }       
    }

    
    
  
}


/* IPAD 768px*/
@media only screen and (min-width:48rem) and (orientation:portrait){

    #hero{

        .cont_video{
           
            .hero_vertical{
                display: none;
            }

            .hero_horizontal{
                display: flex !important;
            }
        }     
    } 
    
    #intro{

        .cont_video{
            
            .cont_elementos{

                .cont_imagen{
                    width: 40% !important;
                }
            }        
        }
    }

    #inicio{

        .cont_titulo{
            width: 60%;
        }

        .contenedor{
            width: 100%;
    
            .cont_video{
                width: 65% !important;
            }
    
            .cont_elementos{
                width: 50% !important;
                margin-top: -25% !important;  
                padding-left: 18% !important;          
            }
        }
    }

    #sesiones{

        .cont_video{
            height: 25vh !important;

            .cont_elementos{

                .cont_imagen{
                    width: 35% !important;
                }
            }        
        }

        .cont_video_seccion{
            width: 100%;

            .cont_elementos{
                
                .titulo, .textos{
                    width: 50% !important;
                }
            } 
        }
    }

    #laura{

        .cont_superior{
            padding-top: 80px;            
            padding-left: 10% !important;
            padding-right: 10% !important;
        }

        .cont_inferior{
            width: 80%;

            .cont_img:nth-child(3) img{
                rotate: 0deg !important;
            }
        }       
    }  
 
}

/* Normal Desktop >= 1024px*/
@media only screen and (min-width:64rem) and  (orientation:landscape){

    #hero{

        .cont_video{
           
            .hero_vertical{
                display: none;
            }

            .hero_horizontal{
                display: flex !important;
            }
        }     
    } 
    
    #intro{

        .cont_video{
            
            .cont_elementos{

                .cont_imagen{
                    width: 30% !important;
                }
            }        
        }
    }

    #inicio{

        .cont_titulo{
            width: 60%;
        }

        .contenedor{
            width: 100%;
    
            .cont_video{
                width: 65% !important;
            }
    
            .cont_elementos{
                width: 50% !important;
                margin-top: -20% !important;  
                padding-left: 18% !important;          
            }
        }
    }

    #sesiones{

        .cont_video{
            height: 30vh !important;      
        }

        .cont_video_seccion{

            .cont_elementos{
                
                .titulo, .textos{
                    width: 50% !important;
                }
            } 
        }
    }
    
    #info{

        .vueperslides--fixed-height{
            height: 300px !important;
        }
    }

    #laura{

        .cont_superior{
            width: 75%;            
            padding-left: 10% !important;
            padding-right: 10% !important;
        }

        .cont_inferior{
            width: 75%;

            .cont_img:nth-child(3) img{
                rotate: 0deg !important;
            }
        }       
    }  

}

/* Ipad Pro Vertical */
@media only screen and (min-width:64rem) and  (orientation:portrait){


    #sesiones{

        .cont_video{
            height: 15vh !important;                  
        }

        .cont_video_seccion{

            .cont_elementos{
                
                .titulo, .textos{
                    width: 50% !important;
                }
            } 
        }
    }

    #inicio{

        .contenedor{           
    
            .cont_elementos{
                margin-top: -20% !important;        
            }
        }
    }

    #info{

        .vueperslides--fixed-height{
            height: 300px !important;
        }
    }

    #laura{

        .cont_superior{
            width: 60%;
        }

        .cont_inferior{
            width: 70%;
        }       
    }  

}

/*Medium Small Desktop >= 1333px*/
@media only screen and (min-width: 83rem){

    .titulo{
        font-size: 2.5rem !important;
    }

    .textos{
        font-size: 1.2rem;
    }

    .navbar .logo .logo_menu{
        width: 8rem !important;
    }
      

    #inicio{

        .cont_titulo{
            width: 40%;
        }

        .contenedor{
    
            .cont_video{
                width: 80% !important;
            }
    
            .cont_elementos{
                width: 45% !important;
                margin-top: -5% !important;  
                margin-right: 7% !important;
                padding-top: 7% !important;          
                padding-left: 32px !important; 
            }
        }
    }

    #sesiones{

        .cont_video_seccion{
            width: 100vw !important;
            height: 80vh !important;

            .cont_elementos{
                
                .titulo, .textos{
                    width: 50% !important;
                }
            } 
        }
    }

    #footer{

        .cont_imagen{
            width: 40% !important;
        }
    }
   
    #laura{

        .cont_superior{
            width: 60%;
            padding-bottom: 200px ;
        }

        .cont_inferior{
            width: 70%;
            margin-top: -15%;

            .cont_img{

                img{
                    width: 70% !important;
                }
            }
        }       
    }  

}

/*Medium Small Desktop >= 1440px*/
@media only screen and (min-width:90rem){

    #footer{

        .cont_imagen{
            width: 30% !important;
        }
    }

    #inicio{

        .contenedor{
    
            // .cont_video{
            //     width:70% !important;
            // }
    
            .cont_elementos{   
                width: 45% !important;
                margin-right: 5% !important;
                padding-top: 6% !important;         
            }
        }
    }

    #laura{

        .cont_superior{
            padding-bottom: 150px ;
        }

        .cont_inferior{
            margin-top: -5%;

            .cont_img{

                img{
                    width: 60% !important;
                }
            }
        }       
    } 



}

/* Super Large Desktop > 1720 */
@media only screen and (min-width:108rem){

    .vueperslides--fixed-height{
        height: 150px !important;
    }

}

@media only screen and (min-width:120rem){

   
    .vueperslides--fixed-height{
        height: 200px !important;
    }
}

@media only screen and (min-width:160rem){

    

}